:root {
  --background-color: #000;
  --border-color: rgb(255, 255, 255, 0.1);
  --highlight-color: rgb(255, 255, 255, 0.1);
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
a,
p,
span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
  margin: 0px;
}

a {
  text-decoration: none;
}

nav {
  height: 65px;
  padding: 3rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav .nav-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  nav .nav-section {
    gap: 1rem;
  }
}

nav .nav-sub-section {
  word-spacing: 5px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-sub-section p {
  margin-bottom: 1px;
  opacity: 0;
  transition: 0.3s linear;
}

.nav-sub-section:hover p {
  opacity: 1;
  transition: 0.3s linear;
}

nav .nav-section-small {
  display: none;
}

nav .nav-section-small i {
  color: white;
  padding-top: 10px;
}

nav .nav-section-small i[hidden] {
  display: none;
}

.nav-small-open {
  visibility: hidden;
  opacity: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  word-spacing: 5px;
  font-size: 0.8rem;
  gap: 2rem;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  padding: 3rem 2rem;
  transition: 200ms linear;
}

@media only screen and (max-width: 768px) {
  nav .nav-section {
    display: none;
  }

  nav .nav-section-small {
    display: block;
  }

  .nav-small-open.active {
    visibility: visible;
    justify-content: flex-end;
    opacity: 1;
    transition: 200ms linear;
  }
}

@media only screen and (min-width: 700px) and (max-width: 768px) {
  .nav-small-open.active {
    visibility: visible;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    opacity: 1;
    transition: 200ms linear;
  }

  .nav-small-open.active a {
    width: 40%;
    height: min-content;
  }
}

main {
  flex-grow: 1;
  position: relative;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

main::-webkit-scrollbar {
  width: 0 !important;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: 1px;
  border-radius: 3rem;
  padding: 15px 20px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button p {
  color: #000;
  padding-right: 6px;
  font-weight: 700;
}

article {
  padding: 3rem 2rem;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-title {
  font-weight: 700;
  font-size: 7rem;
  margin-bottom: 2rem;
  position: relative;
}

article:nth-child(2) > .article-title {
  margin: 0;
  font-weight: 500;
  font-size: 5rem;
  text-align: center;
}

.article-title > svg {
  position: absolute;
}

.article-title:nth-child(1) > svg {
  top: 70%;
  left: 0;
}

.article-title:nth-child(2) > svg {
  bottom: -80px;
  left: -5px;
}

.article-title:nth-child(3) > svg {
  bottom: 20px;
  left: 5px;
}

.article-title:nth-child(2),
.article-title:nth-child(3) {
  padding-left: 10px;
}

.article-description {
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 3rem;
  line-height: 130%;
}

.title-wrapper {
  display: flex;
}
